$primary: #111236;
$secondary: #585858;
$white: #fff;
$black: #000000;
$red: #e65346;
$shadedGray: #f8f8f8;
$bodyBG: #fdfbfb;
$borderColor: #eee;
$textColor: #333;
$lightTextColor: #666;
$lightIcon: #5f6368ab;
